@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Space Grotesk', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    min-width: 10rem;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
}

.top {
    flex-shrink: 0;
    width: 100%;
    height: 33%;
    background: url(/images/bg-main-mobile.png) no-repeat center;
    background-size: cover;
    position: relative;

}

.top .back_card {
    height: 10rem;
    position: absolute;
    left: 18%;
    bottom: 20%;
}

.top .back_card img{
    height: 100%
}

.top .back_card .display_cvc {
    position: absolute;
    font-size: 0.8rem;
    color: white;
    top: 43%;
    right: 12%;
}


.top .front_card {
    height: 10rem;
    position: absolute;
    left: 5%;
    bottom: -20%;
    z-index: 1;
}

.top .front_card img{
    height: 100%
}

#card-logo {
    position: absolute;
    height: 30px;
    width: auto;
    left: 7%;
    top: 10%;
} 

.top .front_card .display-card_number {
    position: absolute;
    font-size: 1.35rem;
    font-weight: 500;
    color: hsl(270, 3%, 87%);
    top: 50%;
    left: 7%;
}

.top .front_card .display-name {
    position: absolute;
    font-size: 0.7rem;
    color: hsl(270, 3%, 87%);
    left: 7%;
    bottom: 12%;
}

.top .front_card .display-date {
    position: absolute;
    font-size: 0.7rem;
    color: hsl(270, 3%, 87%);
    right: 10%;
    bottom: 12%;
}


.bottom {
    width: 100%;
    height: 67%;
}
.bottom form {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2rem;    
    padding: 0 1.4rem;
}

.bottom form .cardholder,
.bottom form .card_number {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.bottom form label {
    font-size: 0.7rem;
    letter-spacing: 3px;
}

.bottom form input {
    border: 1px solid rgba(128, 128, 128, 0.346);
    border-radius: 10px;
    outline: none;
}


.bottom form input:focus {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
}

.bottom form input::placeholder {
    color: hsl(270, 3%, 87%);
}

#card_number,
#cardholder {
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1.25rem; 
    min-width: 15rem;
}

.date-cvc {
    display: flex;
    gap: 1.2rem;
    min-width: 15rem;
}

.date-cvc .expiry-date {
    display: flex;
    flex-direction: column;
    min-width: 11rem;
    gap: 0.5rem;
    width: 50%;
}
.date-cvc .expiry-date .date_inputs {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.date-cvc .expiry-date .date_inputs input{
    width: 50%;
    padding: 0.8rem 1rem;
    font-size: 1.25rem;
}

.date-cvc .cvc{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
}

.date-cvc .cvc input{
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1.25rem;
}

.bottom .submit {
    align-self: center;
    width: 100%;
}

.bottom .submit button {
    width: 100%;
    min-width: 15rem;
    padding: 0.8rem 0;
    border: 0;
    color: white;
    font-family: inherit;
    background: hsl(278, 68%, 11%);
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}


